.mynav{
    width:100%;
    top:90%;
    position:fixed;
    left:0;
    right:0;
    height:20vh;
    background:transparent;
}
.mynav img{
    margin-left:94%;
    margin-top:-1%;
    width:50px !important;
    
}
 .cart span:nth-child(3){
    background:red;
    border-radius:5px;
    color:white;
    font-weight:bold;
    margin-top:-15%;

}
.shifter img{
    margin-left:1000px;
}
@media(max-width:900px){
    .mynav{
        display:none;
    }
}